# Framework for predictions and portfolio forming

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import time

# import the parquet library
import pyarrow.parquet as pq

# import model libraries
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LogisticRegression, LinearRegression, Ridge, Lasso
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.metrics import mean_squared_error, accuracy_score

In [2]:
# load 'basemodel.parquet'
#df = pd.read_parquet('basemodel.parquet')
df = pd.read_parquet('/kaggle/input/sign-prediction-datasets/basemodel.parquet')
prediction_cols = []
df.head()

,PERMNO,date,RET,ME,bull_D,bear_D,bull_W,bear_W,bull_M,bear_M,LMKT,IVOL,y
0,10000,1986-02-28,-0.257143,11960.00000,0.0,0.0,0.0,1.0,0,0,0.0121,0.004058,0
1,10000,1986-03-31,0.365385,16330.00000,0.0,0.0,0.0,0.0,0,0,0.0766,0.000973,1
2,10000,1986-04-30,-0.098592,15172.00000,0.0,1.0,0.0,0.0,0,0,0.0548,0.001993,0
3,10000,1986-05-31,-0.222656,11793.87834,0.0,0.0,0.0,0.0,0,1,-0.0079,0.000163,0
4,10000,1986-06-30,-0.005025,11734.59375,0.0,0.0,0.0,0.0,0,2,0.0511,0.001569,0

In [3]:
# select the columns to be used for prediction
X_col = ['bull_D', 'bear_D', 'bull_W', 'bear_W', 'bull_M', 'bear_M', 'LMKT', 'IVOL']

In [4]:
# Convert 'date' to datetime format (if not already done) and sort the DataFrame
df['date'] = pd.to_datetime(df['date'])
df.sort_values(by='date', inplace=True)
df.reset_index(drop=True, inplace=True)

# Create a 'year' column based on the 'date' column
df['year'] = df['date'].dt.year

# Paper Replication - OLS and Logit, Expanding Window - No Hyperparameters
- They start with out of sample forecasting in 1932
- models will be named model_default

# My Experiments

## Machine Learning - Hyperparameter Tuning included in the process
- models to be named 'model_clas/reg_exp/roll'

### First expanding, then rolling
start predicting for 1932, expand the window until you reach X years, then roll it

##### 10 year window

In [5]:
# set the length of the rolling window
rolling_window = 10 # years

##### 20 year window

In [6]:
rolling_window = 20 # years

In [7]:
#################################
# RANDOM FOREST REGRESSION
#################################
start_time2 = time.time()  # Start timing

model_name = 'RF_reg_roll20'  # Name for storing Random Forest regression predictions

# Predefined set of values for hyperparameter tuning
HP1 = [10, 50, 100, 200]  # Possible values for n_estimators
HP2 = [None, 5, 10, 15]  # Possible values for max_depth

# Update the column name for storing Random Forest regression predictions
df[model_name] = np.nan

# Ensure the new column is in the prediction_cols list
if model_name not in prediction_cols:
    prediction_cols.append(model_name)

# Define the start year for modeling based on having at least 7 years of data
start_modeling_year = df['year'].min() + 7

# Assuming rolling_window is defined elsewhere; set it if not
rolling_window = 5  # For example, change this as needed

for year in range(start_modeling_year, df['year'].max() + 1):
    start_time = time.time()  # Start timing
    
    # Determine the start year of the training window based on the current year
    train_start_year = max(year - rolling_window, df['year'].min())  # Ensure it does not go below the earliest year
    
    # Select the training data based on the calculated start year
    train_data = df[(df['year'] >= train_start_year) & (df['year'] < year)]
    
    # Split training data into actual training and tuning sets
    # Use the last year of the training data for tuning
    tuning_data = train_data[train_data['year'] == year - 1]
    actual_train_data = train_data[train_data['year'] < year - 1]
    
    X_train = actual_train_data[X_col]
    y_train = actual_train_data['y']
    
    X_tune = tuning_data[X_col]
    y_tune = tuning_data['y']
    
    best_HP1 = None
    best_HP2 = None
    best_mse = float('inf')  # Initialize with infinity
    
    # Hyperparameter tuning
    for hp1 in HP1:
        for hp2 in HP2:
            model = RandomForestRegressor(n_estimators=hp1, max_depth=hp2, random_state=42, n_jobs = -1)
            model.fit(X_train, y_train)
            predictions = model.predict(X_tune)  # Predict continuous values
            mse = mean_squared_error(y_tune, predictions)  # Calculate MSE
            
            if mse < best_mse:  # Lower MSE is better
                best_mse = mse
                best_HP1 = hp1
                best_HP2 = hp2
    
    # Retrain on the entire training window (excluding tuning year) with the best hyperparameters
    model = RandomForestRegressor(n_estimators=best_HP1, max_depth=best_HP2, random_state=42, n_jobs = -1)
    model.fit(X_train, y_train)
    
    # Predict for the next year
    next_year_data = df[df['year'] == year]
    X_next_year = next_year_data[X_col]
    
    if not X_next_year.empty:
        next_year_predictions = model.predict(X_next_year)  # Predict continuous values
        df.loc[df['year'] == year, model_name] = next_year_predictions
    
    end_time = time.time()  # End timing
    iteration_time = end_time - start_time  # Calculate iteration time
    
    print(f"Year {year} - Best n_estimators: {best_HP1}, Best max_depth: {best_HP2}, Best MSE: {round(best_mse,4)}, Time: {iteration_time:.2f} seconds")

end_time2 = time.time()
print(f"Total time: {end_time2 - start_time2:.2f} seconds")

Year 1933 - Best n_estimators: 10, Best max_depth: 10, Best MSE: 0.0906, Time: 14.86 seconds
Year 1934 - Best n_estimators: 10, Best max_depth: 10, Best MSE: 0.0859, Time: 14.89 seconds
Year 1935 - Best n_estimators: 200, Best max_depth: 5, Best MSE: 0.1043, Time: 17.11 seconds
Year 1936 - Best n_estimators: 200, Best max_depth: 10, Best MSE: 0.1275, Time: 17.79 seconds
Year 1937 - Best n_estimators: 100, Best max_depth: 10, Best MSE: 0.102, Time: 16.76 seconds
Year 1938 - Best n_estimators: 10, Best max_depth: 10, Best MSE: 0.0809, Time: 15.80 seconds
Year 1939 - Best n_estimators: 50, Best max_depth: 10, Best MSE: 0.0882, Time: 16.43 seconds
Year 1940 - Best n_estimators: 50, Best max_depth: 5, Best MSE: 0.091, Time: 16.53 seconds
Year 1941 - Best n_estimators: 200, Best max_depth: 10, Best MSE: 0.1199, Time: 19.15 seconds
Year 1942 - Best n_estimators: 10, Best max_depth: 5, Best MSE: 0.1255, Time: 17.91 seconds
Year 1943 - Best n_estimators: 200, Best max_depth: 5, Best MSE: 0.1281, Time: 19.37 seconds
Year 1944 - Best n_estimators: 10, Best max_depth: 5, Best MSE: 0.0923, Time: 18.14 seconds
Year 1945 - Best n_estimators: 200, Best max_depth: 15, Best MSE: 0.1103, Time: 19.98 seconds
Year 1946 - Best n_estimators: 100, Best max_depth: 5, Best MSE: 0.0868, Time: 17.94 seconds
Year 1947 - Best n_estimators: 200, Best max_depth: 10, Best MSE: 0.0848, Time: 19.24 seconds
Year 1948 - Best n_estimators: 10, Best max_depth: 5, Best MSE: 0.1176, Time: 16.77 seconds
Year 1949 - Best n_estimators: 100, Best max_depth: 5, Best MSE: 0.101, Time: 18.50 seconds
Year 1950 - Best n_estimators: 10, Best max_depth: 10, Best MSE: 0.1082, Time: 18.27 seconds
Year 1951 - Best n_estimators: 100, Best max_depth: 5, Best MSE: 0.103, Time: 20.35 seconds
Year 1952 - Best n_estimators: 200, Best max_depth: 5, Best MSE: 0.1014, Time: 21.81 seconds
Year 1953 - Best n_estimators: 10, Best max_depth: 10, Best MSE: 0.0984, Time: 20.13 seconds
Year 1954 - Best n_estimators: 50, Best max_depth: 5, Best MSE: 0.1149, Time: 21.52 seconds
Year 1955 - Best n_estimators: 200, Best max_depth: 10, Best MSE: 0.0946, Time: 24.14 seconds
Year 1956 - Best n_estimators: 200, Best max_depth: 10, Best MSE: 0.1093, Time: 23.84 seconds
Year 1957 - Best n_estimators: 200, Best max_depth: 10, Best MSE: 0.0966, Time: 24.68 seconds
Year 1958 - Best n_estimators: 10, Best max_depth: 5, Best MSE: 0.0998, Time: 22.37 seconds
Year 1959 - Best n_estimators: 50, Best max_depth: 5, Best MSE: 0.0955, Time: 22.69 seconds
Year 1960 - Best n_estimators: 50, Best max_depth: 10, Best MSE: 0.1122, Time: 22.46 seconds
Year 1961 - Best n_estimators: 50, Best max_depth: 5, Best MSE: 0.0996, Time: 22.24 seconds
Year 1962 - Best n_estimators: 50, Best max_depth: 5, Best MSE: 0.0976, Time: 22.62 seconds
Year 1963 - Best n_estimators: 50, Best max_depth: 5, Best MSE: 0.0937, Time: 22.42 seconds
Year 1964 - Best n_estimators: 100, Best max_depth: 10, Best MSE: 0.1203, Time: 26.56 seconds
Year 1965 - Best n_estimators: 100, Best max_depth: 5, Best MSE: 0.1313, Time: 32.75 seconds
Year 1966 - Best n_estimators: 200, Best max_depth: 15, Best MSE: 0.1051, Time: 42.89 seconds
Year 1967 - Best n_estimators: 10, Best max_depth: 10, Best MSE: 0.1067, Time: 42.89 seconds
Year 1968 - Best n_estimators: 200, Best max_depth: 10, Best MSE: 0.0943, Time: 51.27 seconds
Year 1969 - Best n_estimators: 10, Best max_depth: 10, Best MSE: 0.0942, Time: 46.27 seconds
Year 1970 - Best n_estimators: 10, Best max_depth: 10, Best MSE: 0.0821, Time: 45.20 seconds
Year 1971 - Best n_estimators: 10, Best max_depth: 5, Best MSE: 0.096, Time: 46.15 seconds
Year 1972 - Best n_estimators: 200, Best max_depth: 5, Best MSE: 0.0957, Time: 48.56 seconds
Year 1973 - Best n_estimators: 50, Best max_depth: 5, Best MSE: 0.1012, Time: 48.04 seconds
Year 1974 - Best n_estimators: 100, Best max_depth: 5, Best MSE: 0.1051, Time: 50.33 seconds
Year 1975 - Best n_estimators: 10, Best max_depth: 10, Best MSE: 0.121, Time: 67.02 seconds
Year 1976 - Best n_estimators: 100, Best max_depth: 10, Best MSE: 0.1228, Time: 90.00 seconds
Year 1977 - Best n_estimators: 200, Best max_depth: 10, Best MSE: 0.1155, Time: 114.06 seconds
Year 1978 - Best n_estimators: 10, Best max_depth: 10, Best MSE: 0.1189, Time: 113.87 seconds
Year 1979 - Best n_estimators: 200, Best max_depth: 15, Best MSE: 0.1184, Time: 128.83 seconds
Year 1980 - Best n_estimators: 10, Best max_depth: 5, Best MSE: 0.1188, Time: 109.12 seconds
Year 1981 - Best n_estimators: 10, Best max_depth: 10, Best MSE: 0.0993, Time: 108.38 seconds
Year 1982 - Best n_estimators: 200, Best max_depth: 10, Best MSE: 0.1046, Time: 117.19 seconds
Year 1983 - Best n_estimators: 10, Best max_depth: 10, Best MSE: 0.1089, Time: 105.47 seconds
Year 1984 - Best n_estimators: 10, Best max_depth: 5, Best MSE: 0.1115, Time: 109.03 seconds
Year 1985 - Best n_estimators: 200, Best max_depth: 10, Best MSE: 0.1132, Time: 126.51 seconds
Year 1986 - Best n_estimators: 10, Best max_depth: 10, Best MSE: 0.1068, Time: 123.19 seconds
Year 1987 - Best n_estimators: 100, Best max_depth: 10, Best MSE: 0.1055, Time: 134.44 seconds
Year 1988 - Best n_estimators: 50, Best max_depth: 5, Best MSE: 0.1104, Time: 138.65 seconds
Year 1989 - Best n_estimators: 200, Best max_depth: 5, Best MSE: 0.1252, Time: 152.75 seconds
Year 1990 - Best n_estimators: 100, Best max_depth: 10, Best MSE: 0.1136, Time: 154.48 seconds
Year 1991 - Best n_estimators: 200, Best max_depth: 10, Best MSE: 0.1071, Time: 168.42 seconds
Year 1992 - Best n_estimators: 50, Best max_depth: 10, Best MSE: 0.1125, Time: 154.55 seconds
Year 1993 - Best n_estimators: 10, Best max_depth: 10, Best MSE: 0.1175, Time: 149.49 seconds
Year 1994 - Best n_estimators: 50, Best max_depth: 10, Best MSE: 0.1183, Time: 150.56 seconds
Year 1995 - Best n_estimators: 10, Best max_depth: 10, Best MSE: 0.1196, Time: 150.87 seconds
Year 1996 - Best n_estimators: 10, Best max_depth: 10, Best MSE: 0.1153, Time: 154.60 seconds
Year 1997 - Best n_estimators: 50, Best max_depth: 10, Best MSE: 0.1135, Time: 163.39 seconds
Year 1998 - Best n_estimators: 100, Best max_depth: 10, Best MSE: 0.1036, Time: 179.53 seconds
Year 1999 - Best n_estimators: 100, Best max_depth: 10, Best MSE: 0.099, Time: 186.18 seconds
Year 2000 - Best n_estimators: 100, Best max_depth: 10, Best MSE: 0.1104, Time: 185.58 seconds
Year 2001 - Best n_estimators: 100, Best max_depth: 10, Best MSE: 0.1025, Time: 183.70 seconds
Year 2002 - Best n_estimators: 200, Best max_depth: 10, Best MSE: 0.1023, Time: 189.97 seconds
Year 2003 - Best n_estimators: 100, Best max_depth: 10, Best MSE: 0.0952, Time: 170.19 seconds
Year 2004 - Best n_estimators: 200, Best max_depth: 5, Best MSE: 0.1009, Time: 157.07 seconds
Year 2005 - Best n_estimators: 200, Best max_depth: 10, Best MSE: 0.096, Time: 146.48 seconds
Year 2006 - Best n_estimators: 10, Best max_depth: 10, Best MSE: 0.0942, Time: 120.64 seconds
Year 2007 - Best n_estimators: 100, Best max_depth: 10, Best MSE: 0.1014, Time: 117.04 seconds
Year 2008 - Best n_estimators: 10, Best max_depth: 10, Best MSE: 0.097, Time: 105.87 seconds
Year 2009 - Best n_estimators: 50, Best max_depth: 10, Best MSE: 0.0896, Time: 106.28 seconds
Year 2010 - Best n_estimators: 100, Best max_depth: 10, Best MSE: 0.0983, Time: 105.67 seconds
Year 2011 - Best n_estimators: 100, Best max_depth: 15, Best MSE: 0.0835, Time: 103.99 seconds
Year 2012 - Best n_estimators: 50, Best max_depth: 5, Best MSE: 0.0965, Time: 94.54 seconds
Year 2013 - Best n_estimators: 200, Best max_depth: 10, Best MSE: 0.0967, Time: 97.82 seconds
Year 2014 - Best n_estimators: 10, Best max_depth: 10, Best MSE: 0.0912, Time: 84.65 seconds
Year 2015 - Best n_estimators: 50, Best max_depth: 5, Best MSE: 0.0972, Time: 82.50 seconds
Year 2016 - Best n_estimators: 200, Best max_depth: 10, Best MSE: 0.1031, Time: 89.17 seconds
Year 2017 - Best n_estimators: 10, Best max_depth: 5, Best MSE: 0.0955, Time: 80.41 seconds
Year 2018 - Best n_estimators: 200, Best max_depth: 10, Best MSE: 0.1045, Time: 88.46 seconds
Year 2019 - Best n_estimators: 200, Best max_depth: 10, Best MSE: 0.1014, Time: 91.04 seconds
Year 2020 - Best n_estimators: 100, Best max_depth: 10, Best MSE: 0.0907, Time: 87.18 seconds
Year 2021 - Best n_estimators: 50, Best max_depth: 5, Best MSE: 0.0988, Time: 80.59 seconds
Year 2022 - Best n_estimators: 10, Best max_depth: 10, Best MSE: 0.1005, Time: 79.57 seconds
Total time: 7086.70 seconds

## Forming Portfolios, Value-weighted portfolio returns

In [8]:
df.head()

,PERMNO,date,RET,ME,bull_D,bear_D,bull_W,bear_W,bull_M,bear_M,LMKT,IVOL,y,year,RF_reg_roll20
0,11148,1926-08-31,0.109924,76287.5,1.0,0.0,4.0,0.0,0,0,0.0318,0.000040,1,1926,NaN
1,10874,1926-08-31,0.168142,16500.0,0.0,0.0,2.0,0.0,2,0,0.0318,0.000537,1,1926,NaN
2,12968,1926-08-31,-0.006464,55683.0,0.0,0.0,0.0,0.0,0,0,0.0318,0.000007,0,1926,NaN
3,12976,1926-08-31,0.156041,41650.0,1.0,0.0,0.0,0.0,0,0,0.0318,0.000070,1,1926,NaN
4,12984,1926-08-31,0.046875,11323.0,1.0,0.0,0.0,0.0,0,0,0.0318,0.000874,1,1926,NaN

In [9]:
prediction_cols
# prediction_cols = ['logit_default','OLS_default','logit_roll6','DT_reg_roll']

['RF_reg_roll20']

In [10]:
portfolio = df[['date', 'RET', 'ME', 'y'] + prediction_cols].copy()
portfolio['date'] = pd.to_datetime(portfolio['date'])

# drop rows with missing values
portfolio.dropna(inplace=True)

portfolio.head()

            date       RET          ME  y  RF_reg_roll20
49083 1933-01-31  0.036765   31918.875  1       1.000000
49084 1933-01-31  0.121849    7142.250  1       0.360372
49085 1933-01-31  0.015625    1560.000  1       1.000000
49086 1933-01-31 -0.084337    4275.000  0       0.000000
49087 1933-01-31 -0.037500  447581.750  0       0.234625

In [11]:
portfolio.tail()

              date       RET            ME  y  RF_reg_roll20
3627748 2022-07-31 -0.106939  3.731571e+06  0       0.395324
3627749 2022-07-31  0.020969  5.066263e+03  1       0.096802
3627750 2022-07-31  0.184785  1.280287e+06  1       0.595736
3627751 2022-07-31  0.108881  3.475711e+04  1       0.096802
3627752 2022-07-31  0.323765  9.311106e+08  1       0.676393

In [12]:
# Initialize an empty DataFrame to store value-weighted returns for each model
vwreturns = pd.DataFrame(portfolio['date'].unique(), columns=['date'])  # Ensures all dates are included

for pred_col in prediction_cols:
    # Calculate deciles for this prediction
    decile_col = f'decile_{pred_col}'
    portfolio[decile_col] = portfolio.groupby(['date'])[pred_col].transform(lambda x: pd.qcut(x, 10, labels=False, duplicates='drop'))
    
    # Determine position based on deciles
    position_col = f'position_{pred_col}'
    portfolio[position_col] = np.where(portfolio[decile_col] == 9, 1, np.where(portfolio[decile_col] == 0, -1, 0))
    
    # Calculate the value-weighted return for this prediction
    vwret_col = f'vwreturn_{pred_col}'
    vwreturns_temp = portfolio.groupby('date').apply(lambda x: np.sum(x['RET'] * x['ME'] * x[position_col]) / np.sum(x['ME'])).reset_index(name=vwret_col)
    
    # Merge the temporary value-weighted returns with the main vwreturns DataFrame
    vwreturns = vwreturns.merge(vwreturns_temp, on='date', how='left')

# Ensure the 'date' column is the first column and is sorted
vwreturns = vwreturns.sort_values('date').reset_index(drop=True)

/tmp/ipykernel_26/2999037948.py:15: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  vwreturns_temp = portfolio.groupby('date').apply(lambda x: np.sum(x['RET'] * x['ME'] * x[position_col]) / np.sum(x['ME'])).reset_index(name=vwret_col)

In [13]:
vwreturns.head()

        date  vwreturn_RF_reg_roll20
0 1933-01-31                0.006433
1 1933-02-28                0.065318
2 1933-03-31                0.026224
3 1933-04-30               -0.005987
4 1933-05-31               -0.004905

### Compare to market data

In [14]:
#market = pd.read_csv('FF3_clean.csv')
market = pd.read_csv('/kaggle/input/sign-prediction-datasets/FF3_clean.csv')

In [15]:
market.head()

         date  Mkt-RF   SMB   HML    RF
0  1926-07-31    2.96 -2.56 -2.43  0.22
1  1926-08-31    2.64 -1.17  3.82  0.25
2  1926-09-30    0.36 -1.40  0.13  0.23
3  1926-10-31   -3.24 -0.09  0.70  0.32
4  1926-11-30    2.53 -0.10 -0.51  0.31

In [16]:
# create a new 'Mkt' which is a sum of Mkt-RF and RF
market['Mkt'] = market['Mkt-RF'] + market['RF']

# divide all columns by 100 except 'date'
market.iloc[:, 1:] = market.iloc[:, 1:] / 100

#set the 'date' column to datetime format
market['date'] = pd.to_datetime(market['date'])

# merge the market data (only date and Mkt columns) with the vwreturns DataFrame
vwreturns = vwreturns.merge(market[['date', 'Mkt']], on='date', how='left')

# transform all columns (except 'date') to a log: log(x+1) and save the result as lvwreturns
lvwreturns = vwreturns.copy()
lvwreturns.iloc[:, 1:] = np.log(vwreturns.iloc[:, 1:] + 1)

In [17]:
vwreturns.head()

        date  vwreturn_RF_reg_roll20     Mkt
0 1933-01-31                0.006433  0.0126
1 1933-02-28                0.065318 -0.1527
2 1933-03-31                0.026224  0.0333
3 1933-04-30               -0.005987  0.3895
4 1933-05-31               -0.004905  0.2147

In [18]:
lvwreturns.head()

        date  vwreturn_RF_reg_roll20       Mkt
0 1933-01-31                0.006413  0.012521
1 1933-02-28                0.063273 -0.165700
2 1933-03-31                0.025886  0.032758
3 1933-04-30               -0.006005  0.328944
4 1933-05-31               -0.004917  0.194497

In [19]:
lvwreturns.describe()

                                date  vwreturn_RF_reg_roll20          Mkt
count                           1074             1074.000000  1074.000000
mean   1977-11-05 12:12:04.022346368                0.012687     0.008968
min              1933-01-31 00:00:00               -0.054003    -0.272203
25%              1955-06-07 12:00:00                0.003169    -0.017248
50%              1977-11-15 00:00:00                0.007291     0.013064
75%              2000-03-23 06:00:00                0.017012     0.038162
max              2022-07-31 00:00:00                0.174746     0.328944
std                              NaN                0.018250     0.048186

In [20]:
## plot histograms of the value-weighted returns for each model and the market in lvwreturns
#plt.figure(figsize=(12, round(len(prediction_cols)/2) * 5 ))
#
#for i, pred_col in enumerate(prediction_cols):
#    plt.subplot(len(prediction_cols)/2 +1, 2, i+1)
#    plt.hist(lvwreturns[f'vwreturn_{pred_col}'], bins=50, color='skyblue', edgecolor='black')
#    plt.title(f'Value-Weighted Return - {pred_col}')
#    plt.xlabel('Value-Weighted Return')
#    plt.ylabel('Frequency')
#    # calculate mean, skewness and kurtosis and add their values to the plot as a text, aligning to the top right corner
#    mean = lvwreturns[f'vwreturn_{pred_col}'].mean()
#    skewness = lvwreturns[f'vwreturn_{pred_col}'].skew()
#    kurtosis = lvwreturns[f'vwreturn_{pred_col}'].kurtosis()
#
#    plt.text(0.95, 0.95, f'Mean: {mean:.4f}\nSkewness: {skewness:.4f}\nKurtosis: {kurtosis:.4f}', ha='right', va='top', transform=plt.gca().transAxes)
#
#
#
#plt.subplot(round(len(prediction_cols)/2) +1, 2, len(prediction_cols)+1)
#plt.title('Value-Weighted Return - Market')
#plt.xlabel('Value-Weighted Return')
#plt.ylabel('Frequency')
#plt.hist(lvwreturns['Mkt'], bins=50, color='skyblue', edgecolor='black')
#mean = lvwreturns['Mkt'].mean()
#skewness = lvwreturns['Mkt'].skew()
#kurtosis = lvwreturns['Mkt'].kurtosis()
#plt.text(0.95, 0.95, f'Mean: {mean:.4f}\nSkewness: {skewness:.4f}\nKurtosis: {kurtosis:.4f}', ha='right', va='top', transform=plt.gca().transAxes)
#
#plt.tight_layout()
#plt.show()
#

In [21]:
## plot cumulative sums of the value-weighted log returns
#plt.figure(figsize=(12, 6))
#plt.plot(lvwreturns['date'], lvwreturns.iloc[:, 1:].cumsum())
#plt.title('Cumulative Value-Weighted Log Returns')
#plt.xlabel('Date')
#plt.ylabel('Cumulative Value-Weighted Log Returns')
#plt.legend(prediction_cols + ['Market'])
#plt.show()

In [22]:
# save the lvwreturns and portfolio DataFrame to a parquet file into 'outputs' folder

# for reproducibility and visualization purposes
lvwreturns.to_parquet('base_lvwreturns_reg4.parquet')
portfolio.to_parquet('base_portfolio_reg4.parquet')

# save vwreturns DataFrame to a .dta file into 'outputs' folder
#vwreturns.to_stata('outputs/vwreturns.dta') # for backtasting in R - we need normal returns, not log returns